Django>=4.2,<5.0
djangorestframework
django-cors-headers
python-decouple
mysqlclient
redis
celery
django-celery-beat
langchain
langchain-openai
faiss-cpu
pypdf
python-docx
pybloom-live
ldap3
pyjwt
gunicorn
psutil
