Django>=4.2,<5.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
python-decouple
mysqlclient
redis
celery
django-celery-beat
langchain
langchain-community
langchain-openai
langchain-chroma
langchain-text-splitters
langgraph
chromadb
pypdf
python-docx
pybloom-live
ldap3
pyjwt
gunicorn
psutil
